fastapi
uvicorn[standard]
pillow
numpy
boto3        # nếu tải model từ S3; nếu bake model vào image thì bỏ dòng này
torch==2.4.1
torchvision==0.19.1
rfdetr==1.3.0
supervision==0.26.1
opencv-python-headless==4.10.0.84   # 👈 thêm dòng này
